.SberLenta {
    &-Progress {
        margin-top: 20px;
    }

    // if need to override
    .SberLenta {
        &-SourceLink {
            font-weight: 500;

            &:hover {
                color: red;
            }
        }
    }
}
