.Page {
    margin: 0px auto;

    background-color: #fff;

    box-shadow: 0 0 5px #ddd;

    border-radius: 8px;
    max-width: 1420px;

    padding: 15px;
}

@media screen and (max-width: 425px) {
    .Page {
        padding: 10px;

        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

