$input-width: 250px;

.Page {
    margin: 5px auto;
    background-color: #fff;

    border-radius: 8px;

    max-width: 1420px;
    padding: 15px;

    box-shadow: 0 0 5px #ddd;

    &-Form {
        .Page {
            &-TextOption {
                margin-bottom: 15px;
                margin-top: 30px;

                text-decoration: underline;
            }

            &-SourceLink {
                font-weight: 500;
            }

            &-ExportFormControl {
                display: block;

                margin-bottom: 20px;
                margin-top: 15px;

                &,
                &Select {
                    width: $input-width;
                }
            }

            &-RequiredFields {
                display: block;

                .MuiCheckbox-root {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }

                &Label {
                    font-size: 12px;
                }
            }

            &-MaxLimit {
                display: block;

                .MuiInput-formControl {
                    width: $input-width;
                }
            }
        }
    }

    &-MaxResultsBlock {
        margin-bottom: 20px;
    }

    &-ResultsTable {
        margin-top: 30px;

        td {
            vertical-align: top;
        }

        .Page-ProductItemCategoryLink {
            text-decoration: none;

            font-weight: bold;

            color: #333;

            &:hover {
                color: red;
            }
        }
    }

    &-ProductItemImage {
        width: 75px;
        height: 75px;

        border-radius: 50%;

        box-shadow: 0 0 3px 0 #ddd;
    }

    &-ProductItemPrice {
        min-width: 110px;
    }

    &-ProductItemCategory {
        td, th {
            font-weight: bold;
        }
    }

    &-ProductItemPriceOriginal_crossed {
        text-decoration: line-through;
    }

    &-ProductItemPriceDefault,
    &-ProductItemPriceOriginal {
        display: block;
    }
}

.alerts {
    position: fixed;

    top: 50px;
    right: 40px;
}

.alert {
    max-width: 400px;
}

@media screen and (max-width: 600px) {
    .alerts {
        right: 15px;
        left: 15px;
        bottom: 30px;
        top: initial;
    }
}

.ScrollerTop {
    position: fixed;

    left: 20px;
    bottom: 20px;

    width: 50px;
    height: 50px;

    background-color: #eee;

    transition: .1s background-color ease-in-out, .1s opacity ease-in-out;
    border-radius: 50%;
    padding: 8px;
    opacity: .5;

    box-shadow: 0 0 2px 1px #bbb;
    box-sizing: border-box;

    &:hover {
        background-color: #ddd;
        opacity: .8;

        cursor: pointer;
    }

    .ScrollerTopIcon {
        width: 100%;
        height: 100%;
    }
}
