body {
  margin: 0;

  font-family: "Raleway", sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./assets/images/bg.png');

  * {
    font-family: "Raleway", sans-serif !important;
  }

  .MuiTypography-root {
    font-weight: 300;
  }
}
